@keyframes fadeLeft {
  from { opacity: 0; transform: translateX(-40px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeRight {
  from { opacity: 0; transform: translateX(40px); }
  to { opacity: 1; transform: translateX(0); }
}

.animate-fadeLeft {
  animation: fadeLeft 0.9s ease-out;
}

.animate-fadeRight {
  animation: fadeRight 0.9s ease-out;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 0.9s ease-out;
}

