@keyframes fadeLeft {
  from { opacity: 0; transform: translateX(-40px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes fadeRight {
  from { opacity: 0; transform: translateX(40px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes progress {
  from { stroke-dashoffset: 628; }
  to { stroke-dashoffset: 75; }
}

.animate-fadeLeft {
  animation: fadeLeft 0.9s ease-out;
}

.animate-fadeRight {
  animation: fadeRight 0.9s ease-out;
}

.animate-progress {
  animation: progress 1.5s ease-out forwards;
}



.animate-fadeLeft { animation: fadeLeft 0.9s ease-out; }
.animate-fadeRight { animation: fadeRight 0.9s ease-out; }
